main {
  margin: 100px;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

/*@mediz all and (min width 500px) {*/
  .row {
    display: flex;
    align-items: space-between;
    padding: 30px;
  }

  .column {
    flex-direction: column;
    justify-content: space-between;
    word-wrap: normal;
    padding: 30px;
  }

 .box {
    display: flex;
    margin: 30px;
    background-color: brown;
    padding: 20px;
 }